@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.section__padding {
    padding: 4rem 6rem;
}
body {
    background-color: black;
    color: #FFFFFF;
    /* font-family: 'Montserrat', sans-serif; */
}

.mun__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 2rem 6rem; */
}

.mun__navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mun__navbar-links_logo{
    margin-right: 2rem;
}

.mun__navbar-links_logo img{
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

/* .mun__navbar-links_items{
    padding-left: 300px;
} */
.mun__navbar-links_container{
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.mun__navbar-register{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mun__navbar-links_container a{
    font-family: Montserrat;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    

    margin: 0 1rem;
    cursor: pointer;
}

.mun__navbar-links_container a:hover {
    color: #F4D394;
}

.mun__navbar-register a{
    font-family: Montserrat;
    color: #F4D394;
    font-size: 14px;
    font-weight: 900;
    line-height: 17px;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;

    margin-top: 50px;
    margin-right: 250px
}

.mun__navbar-register a:hover {
    color: #FFFFFF; /* Change text color to white on hover */
}

/* 
 Media queries to be added
*/

.section__padding_hero {
 margin-top: 3rem ;
}
.mun__hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98vw;
}
.mun__hero-intro{
    /* border: 2px solid wheat; */
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

.mun__hero-intro_content{
    /* border: 2px solid white; */
    display: flex;
    /* flex: 1; */
    justify-content: center;
    /* align-items: flex-start; */
    flex-direction: column;
    /* padding-right: 200px; */
}

.mun__hero-intro_content-details{
    display: flex;
    /* width: 50vw; */
    justify-content: space-between;
    align-items: center;
}

.mun__hero-intro_content-details h1{
    font-family: Montserrat;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 800;
    line-height: 34px;
    letter-spacing: 0.2em;
    text-align: center;

}

#dates{
    font-family: Montserrat;
    color: #F4D394;
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-align: center;

    /* margin-left: 120px; */
}

.mun__hero-intro_content-mun h1{
    font-family: Montserrat;
    color: #F4D394;
    font-size: 90px;
    font-weight: 900;
    line-height: 102px;
    letter-spacing: 0.2em;
    text-align: center;
}
.mun__hero-intro_content-law{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-top:12px ;
}
.mun__hero-intro_content-law h3{
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-align: center;

}

.mun__hero-intro_imgage{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mun__hero-intro_image img{
    width: 400px;
    height: 400px;
}

.mun__hero-collab{
    padding-top: 2rem;

}

.mun__hero-collab h3{
    color: white;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-align: center;
}

.globe-video{
    margin: 0px;
    padding: 0px 0px;
    height: 52vh;
  }

video {
    position: relative;
    left: 31%;
    width: 90vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .background-image-of-sg-message {
    position: relative;
    background-image: url('./Assets/logo-opacity-30.png');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center; 
    height: 120vh;
} 

.message-from-sg {
    margin: 1rem 6rem;
    display: flex;
    justify-content: center;
}

.text-message-from-sg{
    flex: 1;
    margin-top: 8rem;
    /* border: 2px solid wheat; */
    height: 40vw;
}

.text-message-from-sg p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
}

.message-from-sg-image img{
    /* width: 552.62px; */
    height: 800px;
    /* transform: rotate(-31deg); */
}



.mun__footer{
    height: 18vw;
    background: #594E3A;
    padding: 2rem 6rem;
}
.mun__footer-contactinfo{
    padding-top: 2rem;
}
.mun__footer-contactinfo h3{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0.2em;
}

.mun__footer_content {
    text-align: right;
    padding-top: 1.5rem;
    margin-left: 50%;
}

.mun__footer-contactdetails{
    width: 100%;
}

.mun__footer_content-details h1{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.2em;
}

.mun__footer_content-details span{
    font-family: Montserrat;
    font-size: 12px;
    font-style: italic;
    font-weight: 800;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: #F4D394;
}

.mun__footer_content-mun h1{
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 900;
    line-height: 59px;
    letter-spacing: 0.2em;
    color: #F4D394;
}

.mun__footer_content-law h3{
    font-family: Montserrat;
    color: #FFFFFF;
    font-size: 12px;
    font-style: italic;
    font-weight: 800;
    line-height: 15px;
    letter-spacing: 0.2em;
}

.mun__footer-contactdetails{
    padding-top: 1rem;
}

.mun__footer-contactdetails h3{
    font-family: Montserrat;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0.2em;

    padding-top: 0.5rem;
}
.mun__footer-iiitl {
    width: 100%;
    padding-top: 1rem ;
}
.mun__footer-iiitl h1{
    font-family: Montserrat;
    color: #FFFFFF;
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.2em;
}

.mun__footer-iiitl span{
    color: #F4D394;
}
