@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.section__padding {
    padding: 4rem 6rem;
}
body {
    background-color: black;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.mun__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 2rem 6rem; */
}

.mun__navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mun__navbar-links_logo{
    margin-right: 2rem;
}

.mun__navbar-links_logo img{
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

/* .mun__navbar-links_items{
    padding-left: 300px;
} */
.mun__navbar-links_container{
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.mun__navbar-register{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mun__navbar-links_container a{
    font-family: Montserrat;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    

    margin: 0 1rem;
    cursor: pointer;
}

.mun__navbar-register a{
    font-family: Montserrat;
    color: #F4D394;
    font-size: 14px;
    font-weight: 900;
    line-height: 17px;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
    
    margin-top: 50px;
    margin-right: 250px
}

.committes-heading {
    font-size: 6em;
    font-weight: 800;
    letter-spacing: 15px;
}

.background-image-of-sg-message {
    position: relative;
    background-image: url('../Assets/logo-opacity-30.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 120vh;
}

.committees-row {
    display: flex;
    height: 50vh;
    justify-content: center; /* Center the columns horizontally */
}

.committees-col-1,
.committees-col-2,
.committees-col-3 {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.committees-col-1 img,
.committees-col-2 img,
.committees-col-3 img {
    width: 23vw;
    height: 25vh;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.committees-details {
    display: flex;
    align-items: center; /* Align items vertically centered */
    height: 43vh;
}

.committees-details-img img {
    width: 22vw;
    height: 45vh; /* Maintain aspect ratio */
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.committees-details-text {
    flex: 1; /* Allow the text to take up remaining space */
    padding-right: 15px;
    padding-left: 15px;
}

.committes-details-info{
    margin-bottom: 40px;
}
