@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.section__padding {
    padding: 4rem 6rem;
}
body {
    background-color: black;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

header{
    position: relative;
    padding: 1rem 2rem;
}

.mun__navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.mun__navbar-logo img{
    width: 6.25rem;
    height: auto;
}

.mun__navbar-links{
    display: flex;
    gap: 2rem;
}

.mun__navbar-links li{
    list-style: none;
}

.mun__navbar-links a{
    text-decoration: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: 0.2rem;
    text-align: center;
}
.mun__navbar-links a:hover{
    color: #F4D394;
}

.mun__navbar-togglebtn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.mun__navbar #register{
    text-decoration: none;
    font-family: Montserrat;
    color: #F4D394;
    font-size: 1.1rem;
    font-weight: 900;
    line-height: 1rem;
    letter-spacing: 0.2em;
    text-align: center;
    padding-bottom: 0.5rem;
}

.mun__navbar #register:hover{
    color: #fff;
}

.mun__navbar-dropdown{
    display: none;
    position: absolute;
    right: 0.8rem;
    height: 0;
    /* top: 4rem; */
    /* width: 300px; */
    overflow: hidden;
    /* transition: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

.mun__navbar-dropdown.open{
    height: 17vh;
}

.mun__navbar-dropdown li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mun__navbar-dropdown a{
    text-decoration: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
}

.mun__navbar-dropdown a:hover{
    color: #F4D394;
}

/*  Media Queries of the Navigation Bar */

@media (max-width:1175px) {
    .mun__navbar-links{
        display: none;
    }

    .mun__navbar-togglebtn{
        display: block;
    }

    .mun__navbar-dropdown{
        display: block;
        width: 95vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #594E3A;
        border-radius: 20px;
    }
}

@media(max-width:460px){
    .mun__navbar-logo img{
        width: 4.6rem;
    }
}

.committes-heading{
    font-size: 5em;
    font-weight: 800;
    letter-spacing: 1rem;
    margin-top: 2.5rem;
}

.background-image-of-sg-message {
    position: relative;
    background-image: url('../Assets/logo-opacity-30.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 120vh;
}

.committees-row {
    display: flex;
    height: 50vh;
    justify-content: center; /* Center the columns horizontally */
}

.committees-col-1,
.committees-col-2,
.committees-col-3 {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.committees-col-1 img,
.committees-col-2 img,
.committees-col-3 img {
    width: 23vw;
    height: 25vh;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.committees-details {
    display: flex;
    align-items: center; /* Align items vertically centered */
    height: 43vh;
    width: 65vw;

    margin: 1rem auto;
}

.school, .university{
    font-size: 2rem;
}

.committees-details-img img {
    width: 22vw;
    /* height: 45vh; Maintain aspect ratio */
    /* padding-top: 30px;
    padding-left: 30px;*/
     padding-right: 5rem;
}
.committees-details-img2 img {
    width: 22vw;
    /* height: 45vh; Maintain aspect ratio */
    /* padding-top: 30px;
    padding-left: 30px;*/
    padding-left: 5rem;

}

.committees-details-text {
    flex: 1; /* Allow the text to take up remaining space */
    padding-right: 1rem;
    padding-left: 1rem;
}

.committes-details-info{
    margin-bottom: 40px;
}

/* /Media queries */

@media(max-width:1250px){
    .committes-heading {
        font-size: 4em;
        font-weight: 800;
        letter-spacing: 1rem;
    }
    .committees-details-img img {
        /* width: 22vw; */
         padding-right: 3rem;
    }
    .committees-details-img2 img {
        padding-left: 3rem;
    
    }
    
    .committees-details-text {
        flex: 1; /* Allow the text to take up remaining space */
        padding-right: 1rem;
        padding-left: 1rem;
    }
    
    .committes-details-info{
        margin-bottom: 40px;
    }

    .committes-details-info p{
        font-size: 0.84rem;
    }
    .committee-position p{
        font-size: 0.84rem;
    }
}

@media(max-width:800px){
    .committes-heading {
        font-size: 3em;
        font-weight: 800;
        letter-spacing: 0.8rem;
    }
    .committees-details-img img {
        /* width: 22vw; */
         padding-right: 3rem;
    }
    .committees-details-img2 img {
        padding-left: 3rem;
    
    }
    
    .committees-details-text {
        flex: 1; /* Allow the text to take up remaining space */
        padding-right: 1rem;
        padding-left: 1rem;
    }
    
    .committes-details-info{
        /* margin-bottom: 40px; */
    }

    .committes-details-info h1{
        font-size: 1.3rem;
        padding-bottom: 1rem;
    }

    .committes-details-info p{
        font-size: 1rem;
    }
    .committee-position p{
        font-size: 0.84rem;
    }
}

@media(max-width:460px){
    .committes-heading {
        font-size: 1.8em;
        font-weight: 800;
        letter-spacing: 0.6rem;
        text-align: center;
    }

    .school, .university{
        font-size: 1.3rem;
    }
    .committees-details-img img {
        width: 14rem;
        height: auto;
        margin-left: 3.8rem;
         /* padding-right: 2rem; */
    }
    .committees-details-img2 img {
        /* padding-left: 2rem; */
        width: 14rem;
        height: auto;
        margin-right: 2.9rem;
    
    }
    
    .committees-details-text {
        flex: 1; /* Allow the text to take up remaining space */
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        text-align: center;
    }
    
    .committes-details-info{
        /* margin-bottom: 40px; */
    }

    .committees-details{
        width: 75vw;
        margin-top: 0rem;
        flex-direction: column;
    }

    .committes-details-info h1{
        font-size: 0.9rem;
        padding-bottom: 1rem;
    }

    .committes-details-info p{
        font-size: 0.6rem;
    }
    .committee-position p{
        font-size: 0.56rem;
    }
}

