@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.section__padding {
    padding: 4rem 6rem;
}
body {
    background-color: black;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

header{
  position: relative;
  padding: 1rem 2rem;
}

.mun__navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.mun__navbar-logo img{
  width: 6.25rem;
  height: auto;
}

.mun__navbar-links{
  display: flex;
  gap: 2rem;
}

.mun__navbar-links li{
  list-style: none;
}

.mun__navbar-links a{
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 0.2rem;
  text-align: center;
}
.mun__navbar-links a:hover{
  color: #F4D394;
}

.mun__navbar-togglebtn {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.mun__navbar #register{
  text-decoration: none;
  font-family: Montserrat;
  color: #F4D394;
  font-size: 1.1rem;
  font-weight: 900;
  line-height: 1rem;
  letter-spacing: 0.2em;
  text-align: center;
  padding-bottom: 0.5rem;
}

.mun__navbar #register:hover{
  color: #fff;
}

.mun__navbar-dropdown{
  display: none;
  position: absolute;
  right: 0.8rem;
  height: 0;
  /* top: 4rem; */
  /* width: 300px; */
  overflow: hidden;
  /* transition: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

.mun__navbar-dropdown.open{
  height: 17vh;
  z-index: 999;
}

.mun__navbar-dropdown li{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mun__navbar-dropdown a{
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

.mun__navbar-dropdown a:hover{
  color: #F4D394;
}

/*  Media Queries of the Navigation Bar */

@media (max-width:1175px) {
  .mun__navbar-links{
      display: none;
  }

  .mun__navbar-togglebtn{
      display: block;
  }

  .mun__navbar-dropdown{
      display: block;
      width: 95vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #594E3A;
      border-radius: 20px;
  }
}

@media (max-width:460px){
  .mun__navbar-logo img{
    width: 5rem;
    height: auto;
  }
  header{
    position: relative;
    padding: 1rem 1rem;
  }
  #register{
    padding-right: 3rem;
    padding-top: 0.6rem;
  }
}

.committes-heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 6em;
    font-weight: 800;
    letter-spacing: 15px;
}

.background-image-of-sg-message {
    position: relative;
    background-image: url('../Assets/logo-opacity-30.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 120vh;
}
.container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
    max-width: 100%;
  }

  h3 {
    font-size: 1.75rem;
    color: white;
    padding: 1.3rem;
    margin: 0;
  }
  .accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #F4D394;
    font-size: 1.15rem;
    font-weight: 400;
    border: 1px solid #e5e5e5;
  }
  .accordion a:hover,
  .accordion a:hover::after {
    cursor: pointer;
    color: white;
  }
  .accordion a:hover::after {
    border: 1px solid white;
  }
  .accordion a.active {
    color: white;
    border-bottom: 1px solid white;
  }
  .accordion a::after {
    font-family: 'Ionicons';
    content: '\f218';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #F4D394;
    padding: 5px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #F4D394;
    text-align: center;
  }
  .accordion a.active::after {
    font-family: 'Ionicons';
    content: '\f209';
    color: white;
    border: 1px solid white;
  }
  .accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border: 1px solid white;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
  }
  .accordion .content p {
    font-size: 1rem;
    font-weight: 300;
  }
  .accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  @media (max-width:480px){
    .committes-heading{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 4rem;
      text-align: center;
    }

    .accordion-item a, .content p{
      font-size: 0.8rem;
      font-weight: 200;
    }
  }